// 主色系
$COLOR-MAIN1: #23C4A8;
$COLOR-MAIN2: #02829B;
$COLOR-MAIN3: #09B3A1;
$COLOR-MAIN4: #30ACB3;
$COLOR-MAIN5: #499EE5;
$COLOR-MAIN5: #0094BF;
$COLOR-MAIN6: #E48A77;
$COLOR-MAIN7: #4fcfb9;
$COLOR-MAIN8: #00A59E;
$COLOR-MAIN9: #00829B;
$COLOR-MAIN10: #faad14;
$COLOR-MAIN11: #1890FF;


// 輔色
$COLOR-WHITE: #FFF;
$COLOR-BLACK: #000;

$COLOR-GRAY1: #B7B7B7;
$COLOR-GRAY2: #D9D9DA;
$COLOR-GRAY3: #EEE;
$COLOR-GRAY4: #AAA;
$COLOR-GRAY5: #bbb;
$COLOR-GRAY6: #b5b5b5;

$FOOTER-BG: $COLOR-GRAY2;

// 漸層色
$COLOR-MAIN-BG-LINEAR: $COLOR-MAIN3, $COLOR-MAIN4, $COLOR-MAIN5;

// button
$BUTTON-MAIN: $COLOR-MAIN1;
$BUTTON-DANGER: $COLOR-MAIN6;


$BG-PRIMARY: $COLOR-MAIN4;

$TEXT-BOLD: 600;

// header 高度
$MAIN-HEADER-H: 46;

// ======================= sideMenu ======================= //
// $sideMenuIconSize: 22px;

:root {
  --fixed-sider-W: 256px;
}

// ======================= Modal ======================= //
$BORDER-RADIUS: 4px;

// ======================= RWD 斷點 ======================= //
$XXL-MEDIA: 1366px;
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;
$XS-MEDIA: 375px;









// 主色系
// $COLOR-MAIN2: #7CACD3;
// $COLOR-MAIN3: #2F6A9A;
// $COLOR-MAIN4: #F2F8FF;
// $COLOR-MAIN5: #4CAAF5;
// $COLOR-MAIN6: #2296F3;
// $COLOR-MAIN7: #788088;
// $COLOR-MAIN8: #F77878;
// $COLOR-MAIN9: #D9D9D9;
// $COLOR-MAIN10: #F5F8FC;
// $COLOR-MAIN11: #D9F0F4;
// $COLOR-MAIN12: #7DC9CF;
// $COLOR-MAIN13: #4D86FF;
// $COLOR-MAIN14: #F5222D;
// $COLOR-MAIN15: #4D86FF;
// $COLOR-MAIN16: #CB5B4D;
// $COLOR-MAIN17: #F46A6A;
// $COLOR-MAIN18: #FFF0F0;
// $COLOR-MAIN19: #E06262;
// $COLOR-MAIN20: #FFEBEB;
// $COLOR-MAIN21: #FF3636;
// $COLOR-MAIN22: #FC0000;


// $ERROR-COLOR: $COLOR-MAIN14;


// $COLOR-BLACK: #000;


// $COLOR-GRAY2: #CED4D9;
// $COLOR-GRAY3: #D1D3D7;
// $COLOR-GRAY4: #EBEBEB;
// $COLOR-GRAY5: #C9C9C9;
// $COLOR-GRAY6: #F5F5F5;
// $COLOR-GRAY7: #FDFCFB;
// $COLOR-GRAY8: #B7B7B7;
// $COLOR-GRAY9: #CECECE;
// $COLOR-GRAY10: #999;
// $COLOR-GRAY11: #2C2738;
// $COLOR-GRAY12: #E8E8E8;
// $COLOR-GRAY13: #BDBDBD;

// button
// $BUTTON-COLOR-RED: $COLOR-MAIN17;
// $BUTTON-BG-BLUE: $COLOR-MAIN10;
// $BUTTON-BG-RED: $COLOR-MAIN18;
// $BUTTON-HOVER-BG-RED: $COLOR-MAIN17;
// $BUTTON-BG-LIGHT-BLUE: $COLOR-MAIN10;
// $BUTTON-BG-LIGHT-GRAY: $COLOR-GRAY6;
// $BUTTON-DISABLED-COLOR-GRAY: $COLOR-GRAY8;
// $BUTTON-DEFAULT-COLOR-GRAY: $COLOR-GRAY13;

// // loading
// $LOADING-TXT-COLOR: $COLOR-WHITE;
// $LOADING-COLOR: $COLOR-MAIN2;

// // list bg
// $LIST-BG-DARK: $COLOR-MAIN4;

// // text
// $TEXT-PRIMARY: $COLOR-MAIN5;
// $TEXT-GREEN: $COLOR-MAIN1;
// $TEXT-RED: $COLOR-MAIN17;
// $TEXT-BOLD: 600;

// // Form Error
// $FORMCHECKERROR-TEXT: $COLOR-MAIN22;
// $FORMRADIOERROR-BORDER: $COLOR-MAIN22;

// // background

// $BG-GREEN: $COLOR-MAIN1;

// // narbar
// $NARBARMENU-COLOR: $COLOR-GRAY1;
// $NARBARMENU-ACTIVE-COLOR: $COLOR-BLACK;
// $NARBARMENU-BOTTOM-ACTIVE-BG: $COLOR-MAIN1;
// $NARBARMENU-BOTTOM-BORDER-COLOR: $COLOR-MAIN9;
// $NARBARMENU-MEMBER-AUTH_BG: $COLOR-MAIN10;

// // login
// $LOGIN-BANNER-BG: $COLOR-MAIN11;
// $LOGIN-BANNER-TITLE-COLOR: $COLOR-MAIN12;
// $INPUT-FOCUS-BORDER-COLOR: $COLOR-MAIN1;
// $NARBARMENU-COLOR: $COLOR-BLACK;
// $NARBARMENU-HOVER-COLOR: #363636;
// $NARBARMENU-BOTTOM-BORDER-COLOR: $COLOR-MAIN9;

// // banner
// $BANNER-BG-BLUE: $COLOR-MAIN10;

// // calendar
// $CALENDAR-ACTIVE-COLOR: $COLOR-MAIN1;
// $CALENDAR-DOT-COLOR: $COLOR-MAIN1;
// $CALENDAR-LINK-COLOR: $COLOR-GRAY1;
// $CALENDAR-FRAME-ACTIVE-BORDER-COLOR: $COLOR-MAIN1;
// $CALENDAR-FRAME-ACTIVE-BG: $COLOR-MAIN10;
// $CALENDAR-FRAME-HOVER-BG: $COLOR-MAIN10;
// $CALENDAR-FRAME-BORDER-COLOR: $COLOR-GRAY3;

// $POPOVER-TEXT-COLOR-GREEN: $COLOR-MAIN1;

// // modal
// $MODAL-ICON-SUCCESS: $COLOR-MAIN1;
// $MODAL-ICON-ERROR: $COLOR-MAIN14;
// // info、warning 尚未定義
// // $MODAL-ICON-INFO: $COLOR-MAIN1;
// // $MODAL-ICON-WARNING: $COLOR-MAIN1;

// $MODAL-SUCCESS-CONFIRM-BG: $COLOR-MAIN1;
// $MODAL-SUCCESS-CONFIRM-TXT: $COLOR-WHITE;

// $MODAL-ERROR-CONFIRM-BG: $COLOR-GRAY6;
// $MODAL-ERROR-CONFIRM-TXT: $COLOR-MAIN14;
// $MODAL-ERROR-CONFIRM-BORDER: $COLOR-MAIN9;

// $MODAL-BTN-BORDER: $COLOR-GRAY2;
// $BORDER-COLOR-GRAY: $COLOR-GRAY9;
// $BORDER-COLOR-GREEN: $COLOR-MAIN1;
// $BOX-BORDER-COLOR: $COLOR-MAIN9;
// $TABLE-BORDER-COLOR: $COLOR-GRAY4;


// // collapse
// $COLLAPSE-HEADER-BG: $COLOR-MAIN1;

// // loading
// $LOADING-COLOR:  $COLOR-MAIN1;


